@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<br>
<div style=" width:100%; float:left;">

    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>
    <h2 style="margin-bottom:-5px;margin-top:-5px;">THE FACILITIES</h2><br />
    <h3 style="margin-bottom:-5px;margin-top:-5px;">RESTAURANT</h3>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/Restaurant.png" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">
        Golf View<br />
        On Course Delivery<br />
        Catering Services<br />
        Gathering/ Party<br />
        <h5> LotusLakes Restaurant serves the very best of:</h5>
        &nbsp; Indonesian<br />
        &nbsp; Chinese<br />
        &nbsp; Japanese<br />
        &nbsp; Korean<br />
        &nbsp; Western Cuisines<br />
        &nbsp; Fresh drinks and cocktails
    </p>
    <br />
    <h3 style="margin-bottom:-5px;margin-top:-5px;">PRO SHOP</h3>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/Pro Shop.png" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">
        Pro Shop is professionally run to provide various golf equipment and international brand golf apparels.

    </p>
    <br />
    <h3 style="margin-bottom:-5px;margin-top:-5px;">VIP ROOM</h3>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/Vip Room.png" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">
        Ebony Room is designed with oriental ambience with 16 private lockers and shower.<br />
        Mahogany Room is designed with ethnic Javanese/ Balinese ambience with total of 24 private lockers and cozy shower

    </p>
</div>

</html>
